  #event-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    width: fit-content;
  }
  
  .savedEvent {
    border: 4px solid #ccc;
    padding: 10px;
    max-width: 200px;
    position: relative;
  }

  .savedEvent:hover {
    border: 4px solid #010687;
    cursor: pointer;
  }

  .savedEvent:active {
    box-shadow: 0 5px #689ff7;
    transform: scale(0.9);
  }

  .savedEvent p {
    margin: 0px;
    font-size: 15px;
  }
  
  .eventName {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    margin: 0px;
    font-size: 16px;
    padding-right: 15px;
    padding-left: 5px;
  }
  
  .deleteEventButton {
    position: absolute;
    top: 2px;
    right: 5px;
    color: #fa5c5c;
    font-weight: bolder;
    font-size: large;
    border: none;
    padding: 0%;
    cursor: pointer;
  }

  .deleteEventButton:hover {
    transform: scale(1.2);
  }

  .eventLocation {
    font-weight: bold;
  }

  #savedEvents {
    padding: 20px;
    border-top: 4px solid #000000;
    border-bottom: 4px solid #000000;
  }

  #savedEvents h2 {
    margin-top: 0px;
  }
  
  .savedEvent.clicked {
    border: 4px solid #010687;
    transform: scale(1.1);
  }

  #savedEvents {
    padding: 20px;
    border-top: 4px solid #000000;
    border-bottom: 4px solid #000000;
    position: relative;
  }

#savedEvents h2 {
    margin-top: 0px;
}


/* re-fetch and drop down */
.dropdown-container {
  margin-top: 15px;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 0;
  right: 120px;
}

#drop-down-label {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 2;
  right: 100px;
}

#timeDropdown {
  padding: 10px;
  font-size: 12px;
  border: 3px solid black;
}

#refetchAllButton {
  position: absolute;
  margin: 15px;
  top: 0;
  right: 0;
  padding: 10px;
  background-color: #4CAF50;
  color: #fff;
  border: none;
  cursor: pointer;
}

#refetchAllButton:hover {
  background-color: #45a049;
}

#timerCount {
  position: absolute;
  font-size: 12px;
  top: 0;
  right: 0;
  display: block;
  margin-top: 50px;
  margin-right: 45px;
  font-weight: bold;
  color: #ff0000; /* Adjust color as needed */
}