body {
  font-family: Arial, sans-serif;
  margin: 0px;
  padding: 0;
  background-color: #f4f4f4;
  text-align: -webkit-center;
}

h1 {
  text-align: center;
  margin-top: 20px;
}

.data-table th {
  background-color: #000000;
  font-weight: bolder;
  color: #f4f4f4;
  cursor: pointer;
}

.data-table th:hover {
  background-color: #333333;
}

.data-table th:active {
  background-color: #555555;
}

tr.collapsible td.first-col:hover {
  background-color: #b4b4b4;
}

tr.collapsible td.first-col:active {
  background-color: #eeeded;
}

#eventIdForm {
  text-align: center;
  margin: 20px;
  
}

button {
  padding: 8px 12px;
}

#result {
  margin: 20px;
  width: 75vw;
  height: 55vh;
  overflow-y: auto;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.data-table th, .data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.ticket-type {
  font-weight: bold;
}

.section {
  font-style: italic;
  background-color: #f9f9f9;
}

.collapsible {
  background-color: #727272;
  font-weight: bolder;
  color: #f4f4f4;
  cursor: pointer;
}

#eventDetailResult p {
  margin: 5px;
}

#eventIdInput {
  height: 25px;
}

/* Side bar and table*/
.table-container {
  display: flex;
}

.sidebar {
  width: 200px; /* Adjust the width as needed */
  padding: 20px;
  border: 1px solid #ddd; /* Add borders or other styles */
  box-sizing: border-box;
  margin-top: 40px;
  margin-bottom: 10px;
}

#result {
  flex: 1; /* Take remaining space */
  max-width: calc(50%); /* 20px accounts for the margin on both sides */
  /* Other styles for the result div */
}

#venue-map {
  max-width: calc(50% - 20px);
}

#venue-map img {
  max-width: 100%; /* Make the image responsive */
  height: auto; /* Maintain aspect ratio */
}

#cheapest-section-toggle {
  margin-bottom: 20px;
  height: 15px;
  width: 15px;
}

#unqiue-pricing-toggle {
  margin-bottom: 20px;
  height: 15px;
  width: 15px;
}
