.data-table th {
  background-color: #000000;
  font-weight: bolder;
  color: #f4f4f4;
  cursor: pointer;
}

.data-table th:hover {
  background-color: #333333;
}

.data-table th:active {
  background-color: #555555;
}

tr.collapsible td.first-col:hover {
  background-color: #b4b4b4;
}

tr.collapsible td.first-col:active {
  background-color: #eeeded;
}

#eventIdForm {
  text-align: center;
  margin: 20px;
  
}

button {
  padding: 8px 12px;
}

#result {
  margin: 25px;
  width: auto;
  height: 95%;
  overflow-y: auto;
}

.data-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.data-table th, .data-table td {
  border: 1px solid #ddd;
  padding: 8px;
  text-align: center;
}

.ticket-type {
  font-weight: bold;
}

.section {
  font-style: italic;
  background-color: #f9f9f9;
}

.collapsible {
  background-color: #727272;
  font-weight: bolder;
  color: #f4f4f4;
  cursor: pointer;
}

#eventDetailResult p {
  margin: 5px;
}

#eventIdInput {
  height: 35px;
}

#eventIdForm {
  display: flex;
  text-align: center;
  margin: 20px;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

#fixed-content h1 {
  font-size: 2.5rem;
}

#refetchAll-container {
  align-items: center;
  gap: 20px;
}

#timeDropdown {
  height: 40px;
  width: 80px;
  text-align: center;
}